@import url('https://fonts.cdnfonts.com/css/nobody-talks');
@import url('https://fonts.cdnfonts.com/css/e-eloxy');                       
*{
    margin: 0;
    padding: 0;
    overflow-y: hidden; 
	overflow-x: hidden;                    
}

nav {
    display:flex;
	position:fixed;
    width: 84;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    background: rgba(35, 155, 171, 0.402);
    box-shadow: 0 8px 32px 0 rgba(121, 226, 240, 0.37);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
	font-family: 'Nobody Talks', sans-serif;
	background: rgba(35, 155, 171, 0.402);
	z-index: 10;

}
li{
	align-items:left;
}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
	overflow: hidden;
	font-family: 'Nobody Talks', sans-serif;
}
.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 110vh;

	   
}

  
#myVideo {
	height:120vh;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom:1px solid #f0eeed;
	z-index: 1;
  }

.services{
	width: 100%;
	padding: 100px 0px;
	overflow: hidden;
	
	
}
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.932);
    color: #f1f1f1;
    width: 100%;
    padding: px;
	overflow-x: hidden;
	z-index: 10;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
	z-index: 10;
	overflow: hidden;
}
.card3{
	height: fit-content;
	width: auto;
	margin-left: 120px;
	border-radius: 20px;
	align-items: center;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;background: rgba(35, 155, 171, 0.402);
	box-shadow: 0 8px 32px 0 rgba(14, 28, 222, 0.276);
	backdrop-filter: blur( 3px );
	-webkit-backdrop-filter: blur( 1px );
	border-radius: 10px;
	border: 1px solid rgba(3, 208, 244, 0.345);
}
.card{
	height: 400px;
	width: 100%;
	padding: 20px 35px;
	border-radius: 20px;
	margin: 15px;
	font-family: 'e Eloxy', sans-serif;
	position: relative;
	overflow: hidden;
	text-align: center;background: rgba(35, 155, 171, 0.402);
	box-shadow: 0 8px 32px 0 rgba(14, 28, 222, 0.276);
	backdrop-filter: blur( 1px );
	-webkit-backdrop-filter: blur( 3px );
	border-radius: 10px;
	border: 1px solid rgba(3, 208, 244, 0.345);
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #2a088f;
    overflow: hidden;

}
.card .button{
	background-color:#f98500;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
	
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f98500;
	cursor: pointer;
}
.about{
	width: 100%;
	padding: 100px 0px;
	align-items: center;
	justify-content: left;
}

.about img{
	height:100vh;
	
}
.about-text{
	width: 550px;  

}
.about-text h2{
	color: white;
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 10px;
	justify-content: left;
}
.about-text h5{
	color: rgb(219, 12, 243);
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
	font-family: 'Nobody Talks', sans-serif;
}
.about-text p{
	color: rgba(15, 14, 15, 0.8);
	letter-spacing: 1px;
	line-height: 40px;
	font-size: 25px;
	align-self: center;
	margin-bottom: 45px;
    font-family: 'e Eloxy', sans-serif;
}

.btn{
	background-color:#f900bf8c;
	color: rgb(13, 34, 193);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 10px;
	border-radius: 30px;
	transition: .4s; 
	
}
.btn:hover{
	background-color: transparent;
	border: 2px solid #16d7e194;
	cursor: pointer;
}

section{
    height: 100vh;
    display: flex;
    scroll-snap-align: start;
    align-items: center;
}
h1{
    color: rgb(252, 254, 255);
    text-shadow: 1px 1px 6px #000;
    justify-content: right;
    
}
h2{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 6px #000;
    justify-content: right;
	font-family: 'Nobody Talks', sans-serif;
 }
h3{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 6px #000;
    justify-content: left;
}
h4{
    color: aliceblue;
    text-shadow: 1px 1px 6px #000;
    justify-content: right;
    justify-content:center;
}

/* .one{
} */

.two{
	background-image: url('backgrnd.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:auto;
	z-index: -1;
}
.three{
	background-image: url('backgrnd.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:auto;
	z-index: -1;
}
.four{
	background-image: url('footer.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:auto;
	z-index: -1;
}
.five{
    height:110vh;
    border-bottom:1px solid #ff6a00;
    z-index: 20;
}

.detail{
    margin-left: 8%;
    margin: top 15%;
}

.detail h5{
    font-size: 50px;
    color: #000;
    margin-bottom: 20px;
}

span{
    color: darkblue;
}
detail p{
    color: rgb(176, 46, 46);
    line-height: 22px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}

nav ul li a:hover{
    color: rgba(97, 3, 249, 0.888);
}

footer{
	
	position: relative;
	width: 100%;
	height: 400px;
	background: rgba(35, 155, 171, 0.402);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
footer p:nth-child(1){
	font-size: 30px;
	color: rgb(21, 9, 250);
	margin-bottom: 20px;
	font-weight: bold;
	font-family: 'Nobody Talks', sans-serif;
}
footer p:nth-child(2){
	color: rgb(212, 12, 215);
	font-size: 20px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #c318f7f2;
	border-radius: 50%;
	margin: 22px 10px;
	color: rgb(99, 247, 255);
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#0021f9;
	bottom: 35px;
	font-size: 14px; 
	font-family: 'Nobody Talks', sans-serif;
}